@model Sakila.DB.Model.Film

<h1>
    Create/Update Film
</h1>
<form asp-controller="Films" asp-action="CreateOrUpdate" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" asp-for="Title"/>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <input type="submit" value="Save" class="btn btn-primary"/>
</form>